name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.x
    - name: Restore dependencies
      working-directory: ./Hangman
      run: dotnet restore
    - name: Build
      working-directory: ./Hangman
      run: dotnet build --no-restore
    - name: Test and Code Coverage
      working-directory: ./TestAhorcado
      run: dotnet test --results-directory:./coverage /p:CollectCoverage=true /p:CoverletOutputFormat=opencover
    - name: testUI
      working-directory: ./UITestAhorcado
      run: dotnet test
    - name: Static Code Analyst
      uses: sonarsource/sonarcloud-github-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.SN_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      with:
        args: >
          -Dsonar.projectKey=juanchicruzz_Ahorcado-NET-Agiles
          -Dsonar.organization=juanchicruzz
          -Dsonar.exclusions="/wwwroot/lib/**"
          -Dsonar.cs.opencover.reportsPaths=/home/runner/work/Ahorcado-NET-Agiles/Ahorcado-NET-Agiles/TestAhorcado/coverage.opencover.xml
          -Dsonar.cs.vstest.reportsPaths=**/home/runner/work/Ahorcado-NET-Agiles/Ahorcado-NET-Agiles/TestAhorcado/coverage.opencover.xml
