name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.x
    - name: Restore dependencies
      working-directory: ./Ahorcado
      run: dotnet restore
    - name: Build
      working-directory: ./Ahorcado
      run: dotnet build --no-restore
    - name: Test
      working-directory: ./TestAhorcado
      run: dotnet test --no-build --verbosity normal
    - name: Generate coverage report
      run: |
        cd ./TestAhorcado
        dotnet test /p:CollectCoverage=true /p:CoverletOutput=TestResults/ /p:CoverletOutputFormat=lcov
    - name: Publish coverage report to coveralls.io
      uses: coverallsapp/github-action@master
      with:
        path-to-lcov: ./coverage/coverage.info 
