name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.x
    - name: Restore dependencies
      working-directory: ./Ahorcado
      run: dotnet restore
    - name: Build
      working-directory: ./Ahorcado
      run: dotnet build --no-restore
    - name: Test and Code Coverage
      working-directory: ./TestAhorcado
      run: dotnet test --results-directory:./coverage /p:CollectCoverage=true /p:CoverletOutputFormat=opencover
